= tool_to(:init_bank_transactions.tl, { controller: '/banking/transactions', action: :new, cash_id: resource.id })
= tool_to(:sync_bank_transactions.tl, { controller: '/banking/transactions', action: :sync_account, cash_id: resource.id })
