.institution-content-wrapper
  #institution-modal-content{data: {turbolinks: "false"}}
    %header.institution-modal-header
      %h2 Selectionner le pays de votre banque:
      .institution_list{ data: { institutions: @list } }